<br />
<br />
<h2 class="mb-5 font-medium text-gray-800 dark:text-neutral-200">Education</h2>
<!-- Grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 gap-3" id="education">
  <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
    <img
      class="shrink-0 size-10 mb-3"
      width="123"
      height="147"
      viewBox="0 0 123 147"
      fill="none"
      src="assets/Acaditec.png"
    />

    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2020 - 2023
    </h3>

    <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
      Computer software engineering
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      Caribbean Digital and Technological Academy
    </p>
  </div>

  <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
    <img
      class="shrink-0 size-10 mb-3"
      width="123"
      height="147"
      viewBox="0 0 123 147"
      fill="none"
      src="assets/Dominico.png"
    />

    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2025 - Present
    </h3>

    <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
      English
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      Dominican American Cultural Institute
    </p>
  </div>
</div>
<!-- End Grid -->
