<br />
<br />
<h2 class="mb-5 font-medium text-gray-800 dark:text-neutral-200">
  Work experience
</h2>
<div id="experience">
  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div
      class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
    >
      <div
        class="relative z-10 size-6 flex justify-center items-center object-cover"
      >
        <img
          class="shrink-0 size-6 text-gray-600 dark:text-neutral-400 rounded"
          src="assets/ridenow-logo.png"
          alt="Company"
        />
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
        2025 - Present
      </h3>

      <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
        Full Stack Developer
      </p>

      <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
        The company has high expectations and using OKRs there is a mutual
        understanding of expectations and performance.
      </p>

      <ul class="list-disc ms-6 mt-3 space-y-1.5">
        <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
          Utilized tools such as **Next.js**, **AWS S3**, **Golang**, **Tailwind
          CSS**, **GitHub** for project management, deployment, and version
          control.
        </li>
      </ul>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div
      class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
    >
      <div
        class="relative z-10 size-6 flex justify-center items-center object-cover"
      >
        <img
          class="shrink-0 size-6 text-gray-600 dark:text-neutral-400 rounded-2xl"
          src="assets/sti-logo.ico"
          alt="Company"
        />
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
        2023 - 2024
      </h3>

      <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
        Full Stack Developer
      </p>

      <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
        This is an excellent company and they reward their employees. It's
        becoming a big company but it's still private, so the culture is as good
        as it gets at 50+ employees if you ask me. Great place to work.
      </p>

      <ul class="list-disc ms-6 mt-3 space-y-1.5">
        <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
          Built the website using **Next.js**, **Tailwind CSS**, and **Strapi**
          for content management and API integration.
        </li>
        <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
          Engaged with users to address setup inquiries, bug issues, and
          feedback.
        </li>
      </ul>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div
      class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
    >
      <div class="relative z-10 size-6 flex justify-center items-center">
        <svg
          class="shrink-0 size-6 text-gray-800 dark:text-neutral-200"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M12 12h.01" />
          <path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2" />
          <path d="M22 13a18.15 18.15 0 0 1-20 0" />
          <rect width="20" height="14" x="2" y="6" rx="2" />
        </svg>
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
        2022 - 2023
      </h3>

      <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
        Freelance Junior Software Engineer
      </p>

      <ul class="list-disc ms-6 mt-3 space-y-1.5">
        <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
          Worked with a range of clients, delivering tailored software
          solutions.
        </li>
        <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
          Developed and maintained strong client relationships through effective
          communication and project management.
        </li>
        <li class="ps-1 text-sm text-gray-600 dark:text-neutral-400">
          Tools such as Jira were used for project tracking, and GitHub for
          version control and project sharing.
        </li>
      </ul>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->
</div>
<!-- End Timeline -->
